
#navbars.scroll  {
    background-color: rgb(10, 5, 59) !important;
    color: #eef;
  }
  
.main_nav_select{

    background-color: transparent;
    font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	width: 75px;
}
.main_nav_select_item{

	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: orange;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.textTerms{
	color: black;
	width: 100%;
max-width: 1060px;
margin: 30px auto 40px;
padding: 0 12px;
text-align: left;
min-height: 250px;
}
.termsbutton{
	background-color: red;
}